{
    "env": {
        "node": true
    },
    "rules": {
        "no-unused-vars": 1,
        "no-invalid-regexp": 1,

        "no-shadow-restricted-names": 2,
        "no-self-compare": 2,
        "no-dupe-keys": 2,
        "no-undef": 2,
        "no-native-reassign": 2,
        "no-unused-expressions": 2,

        "quotes": [2, "single", "avoid-escape"],
        "no-space-before-semi": 2,
        "no-spaced-func": 2,
        "eol-last": 2
    }
}
